.dataContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
}
.dataText {
    color: #f1f1f1;
    font-size: 16px;
}

@media (max-width: 1200px){
    .dataContainer{
	padding-top: 70px;
	height: fit-content;
    }
    .dataText{
	font-size: 14px;
    }
}
@media (max-width: 450px){
    .dataContainer{
	padding-top: 20px;
	height: 60%;
    }
    .dataText{
	font-size: 12px;
    }
}
