.workoutContainer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.workoutContainer p{
    color: #f1f1f1;
    font-size: 16px;
}
.workoutsContainer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    bottom: 10px;
}
.workoutContainerBig{
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.workoutText{
    width: fit-content;
    height: fit-content;
    color: #f1f1f1;
    font-size: 16px;
    overflow: hidden;
}


@media (max-width: 450px){
    .header{
	font-size: 20px;
    }
    .wokoutContainer{
	position: absolute;
	bottom: 5px;
	left: 0;
	height: 50%;
	margin-top: 10px;
    }
    .workoutContainer p{
	font-size: 11px;
    }
}
@media (max-width: 370px){
    .workoutContainer{
	padding-top: 20px;
	justify-content: flex-end;
	align-items: flex-start;
    }
}
