.statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}
.barInfo{
    width: 100%;
    height: 50%;
    color: #f1f1f1;
}
.barInfo *{
    color: #f1f1f1;
}
@media (max-width: 968px) {
    .statsContainer{
	justify-content: flex-end;
    }
    .barInfo{
	height: 80%;
    }
}
