.streakContainer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.streakText{
    font-size: 22px;
}

@media (max-width: 450px){
    .streakContainer{
	position: relative;
	height: 60%;
    }
    .streakText{
	font-size: 14px;
    }
}
@media (max-width: 350px){
    .streakContainer{
	height: 50%;
    }
    .streakText{
	font-size: 11px;
    }
}
