.texts{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.texts *{
    color: #f1f1f1;
}
.texts p{
    font-size: 20px;
}
.progressbar{
    min-width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@media (max-width: 968px) {
    .texts p{
	font-size: 16px;
    }
}
