.texts{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.texts *{
    color: #f1f1f1;
}
.texts p{
    font-size: 20px;
}
.header{
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 10px;
}
.progressbar{
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@media (max-width: 968px) {
    .texts p{
	font-size: 16px;
    }
}
@media (max-width: 450px){
    .header{
	font-size: 24px;
    }
}
