.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}
.header{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
}
@media (max-width: 1200px){
    .header{
	font-size: 28px;
    }
}
@media (max-width: 500px){
    .header{
	font-size: 22px;
    }
}
