.workoutContainer {
    display: flex;
    flex-direction: column;
}
.workoutHeader {
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}
.workoutImage {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    filter: invert(1);
}
.workoutDetails {
    color: #f1f1f1;
    font-size: 16px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 20px;
}
.workoutDetails p{
    margin: 0;
    text-align: center;
    font-size: 14px;
}
.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 0;
    transition: background-color 0.3s ease;
    background-color: #F14;
    color: #f1f1f1;
}
.button:hover {
    background-color: #a11;
}
