.overlay{
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}
.form{
    width: 400px;
    min-height: 300px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    position: relative;
    padding-top: 10px;
}
form{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}
.closeButton{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    color: #f1f1f1 !important;
}
.header{
    font-size: 24px;
    color: #f1f1f1 !important;
    margin-bottom: 10px;
}
.closeButton:hover{
    transform: scale(1.2);
}
.label{
    font-size: 18px;
    color: #f1f1f1 !important;
    height: fit-content;
    padding: 2px;
}
.select:focus option{
    background-color: #ddd !important;
    color: #000 !important;
}
.input, .select{
    width: 160px;
    height: 40px;
    border-radius: 30px;
    border: none;
    padding: 0 10px;
    font-size: 14px;
    margin-left: 10px;
    color: #000 !important;
    border: none;
}
.input:focus, .select:focus{
    outline: none;
}
.submitButton{
    width: 99%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #f1f1f1;
    color: #000 !important;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 450px){
    .form{
	width: 90%;
    }
    label, .input, .select{
	display: block;
	margin-left: 0;
    }
}
