.banner{
    width: 100%;
    margin-top: 80px;
    padding: 6vh 4vw;
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
}
.banner * {
    overflow: hidden;
}
.appNameTextColorLight{
    color: #a9dc94 !important;
}
.appNameTextColorDark{
    color: #4E1BB4 !important;
}

.bannerText{
    font-weight: 700;
    width: 100%;
    max-width: 560px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    color: #FFF;
}

.Text{
    padding: 10px 20px;
    color: #FFF;
    font-size: 38px;
    line-height: 1.05;
    margin: 0;
}

.bannerImage{
    width: 100%;
    max-width: 900px;
}

.bannerImage img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.subtextColorLight{
    color: #111;
}
.subtextColorDark{
    color: #f1f1f1;
}

.imageDark{
    -webkit-box-shadow:0px 0px 170px 14px rgba(78,27,180,0.61);
    -moz-box-shadow: 0px 0px 170px 14px rgba(78,27,180,0.61);
    box-shadow: 0px 0px 170px 14px rgba(78,27,180,0.61);
}
.imageLight{
    -webkit-box-shadow:0px 0px 170px 14px rgba(169,220,148,0.61);
    -moz-box-shadow: 0px 0px 170px 14px rgba(169,220,148,0.61);
    box-shadow: 0px 0px 170px 14px rgba(169,220,148,0.61);
}

@media (min-width: 900px) {
    .banner{
        grid-template-columns: 1fr 1fr;
        padding: 8vh 6vw;
        min-height: calc(100vh - 80px);
        justify-items: stretch;
    }
    .bannerImage{
        justify-self: start;
        align-self: center;
    }
    .bannerText{
        justify-self: end;
        align-self: start;
        padding-top: 3.5rem; 
        text-align: left;
    }
    .Text{ font-size: 48px; }
}

@media (max-width: 900px) and (min-width: 769px) {
    .banner{ padding: 6vh 5vw; }
    .Text{ font-size: 34px; text-align: center; }
    .bannerText{ align-items: center; }
    .imageDark{
	-webkit-box-shadow:0px 0px 100px -5px rgba(78,27,180,0.61);
	-moz-box-shadow: 0px 0px 100px -5px rgba(78,27,180,0.61);
	box-shadow: 0px 0px 100px -5px rgba(78,27,180,0.61);
    }
    .imageLight{
	-webkit-box-shadow:0px 0px 100px -5px rgba(169,220,148,0.61);
	-moz-box-shadow: 0px 0px 100px -5px rgba(169,220,148,0.61);
	box-shadow: 0px 0px 100px -5px rgba(169,220,148,0.61);
    }
}

@media (max-width: 768px) {
    .banner{
        padding: 4vh 3vw;
        margin-top: 64px;
        grid-template-columns: 1fr;
    }
    .bannerText{
        width: 100%;
        max-width: 90vw;
        margin: 0 auto 12px auto;
        align-items: center;
        text-align: center;
    }
    .bannerImage{
        width: 90vw;
        max-width: 90vw;
        margin: 0 auto;
    }
    .Text{ font-size: 28px; }
    .imageDark{
	-webkit-box-shadow:0px 0px 100px -5px rgba(78,27,180,0.61);
	-moz-box-shadow: 0px 0px 100px -5px rgba(78,27,180,0.61);
	box-shadow: 0px 0px 100px -5px rgba(78,27,180,0.61);
    }
    .imageLight{
	-webkit-box-shadow:0px 0px 100px -5px rgba(169,220,148,0.61);
	-moz-box-shadow: 0px 0px 100px -5px rgba(169,220,148,0.61);
	box-shadow: 0px 0px 100px -5px rgba(169,220,148,0.61);
    }
}
