.banner{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.bannerText{
    font-weight: 700;
    text-wrap: text-wrap;
    width: 300px;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 20vh;
    right: 7vw;
    border: none;
    background-color: transparent;
}
.bannerDark{
    background-color: rgba(46,116,255,0.61);
}
.bannerLight{
    background-color: #4E1BB4;
}
.Text{
    text-align: center;
    color: #FFF;
    font-size: 38px;
}
.appNameTextColorLight{
    color: #4E1BB4;
}
.appNameTextColorDark{
    color: rgba(46,116,255,0.61);
}
.bannerImage{
    width: 65vw;
    border-radius: 10px;
    position: absolute;
    bottom: 3vw;
    left: 7vw;
}
.subtextColorLight{
    color: #111;
}
.subtextColorDark{
    color: #f1f1f1;
}
.imageDark{
    -webkit-box-shadow:0px 0px 170px 14px rgba(46,116,255,0.61);
    -moz-box-shadow: 0px 0px 170px 14px rgba(46,116,255,0.61);
    box-shadow: 0px 0px 170px 14px rgba(46,116,255,0.61);
}
.imageLight{
    -webkit-box-shadow:0px 0px 170px 14px rgba(78,27,180,0.61);
    -moz-box-shadow: 0px 0px 170px 14px rgba(78,27,180,0.61);
    box-shadow: 0px 0px 170px 14px rgba(78,27,180,0.61);
}

@media (max-width: 768px) {
    .bannerText{
	top: 25vh;
	right: 10vw;
    }
}
@media (max-width: 480px) {
    .bannerText{
        width: 90vw;
        height: 120px;
	top: 20vh;
	right: 5vw;
    }
}
