.container{
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 100px;
    overflow: hidden;
}
.content{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
