.discover{
    width: 100svw;
    height: 100svh;
    position: relative;
    background-color: transparent;
}
.discover div{
    position: absolute;
}
.textWBG{
    padding: 50px 50px;
    text-wrap: wrap;
    font-size: 36px;
    background-color: transparent;
    border: none;
}
.discoverSectionLeftTop{
    width: 40%;
    height: 30%;
    top: 0;
    left: 0;
}
.discoverSectionRightTop{
    width: 60%;
    height: 30%;
    top: 0;
    right: 0;
}
.discoverSectionLeftBottom{
    width: 60%;
    height: 70%;
    bottom: 0;
    left: 0;
}
.discoverSectionRightBottom{
    width: 40%;
    height: 70%;
    bottom: 0;
    right: 0;
}
@media (max-width: 1078px) {
    .textWBG{
        font-size: 24px;
        padding: 20px 20px;
	text-align: center;
    }
    .discoverSectionLeftTop,
    .discoverSectionRightTop,
    .discoverSectionLeftBottom,
    .discoverSectionRightBottom{
        width: 100%;
        height: 25%;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
    }
    .discoverSectionLeftTop{
        top: 0;
    }
    .discoverSectionRightTop{
        top: 50%;
    }
    .discoverSectionLeftBottom{
        bottom: 50%;
    }
    .discoverSectionRightBottom{
        bottom: 0;
    }
}
@media (max-width: 480px) {
    .textWBG{
	font-size: 18px;
	padding: 10px 10px;
    }
}
