.discover{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.discover div{
    position: absolute;
}
.textWBG{
    padding: 50px 50px;
    text-wrap: wrap;
    font-size: 36px;
    background-color: transparent;
    border: none;
}
.discoverSectionLeftTop{
    width: 40%;
    height: 30%;
    top: 0;
    left: 0;
}
.discoverSectionRightTop{
    width: 60%;
    height: 30%;
    top: 0;
    right: 0;
}
.discoverSectionLeftBottom{
    width: 60%;
    height: 70%;
    bottom: 0;
    left: 0;
}
.discoverSectionRightBottom{
    width: 40%;
    height: 70%;
    bottom: 0;
    right: 0;
}
