.discover{
    width: 100svw;
    height: 200svh;
    position: relative;
    background-color: transparent;
}
.discover *{
    overflow: hidden;
}
.discover div{
    position: absolute;
}
.textWBG{
    text-wrap: wrap;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
.discoverImage{
    width: 40%;
}
.discoverSectionLeftTop{
    width: 40%;
    height: 30%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.discoverSectionRightTop{
    width: 60%;
    height: 30%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.discoverSectionRightTop .discoverImage{
    width: 25%;
}
.discoverSectionLeftBottom{
    width: 60%;
    height: 70%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.discoverSectionRightBottom{
    width: 40%;
    height: 70%;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px

}
@media (max-width: 1078px) {
    .textWBG{
        font-size: 24px;
        padding: 20px 20px;
	text-align: center;
    }
    .discoverSectionLeftTop,
    .discoverSectionRightTop,
    .discoverSectionLeftBottom,
    .discoverSectionRightBottom{
        width: 100%;
        height: 25%;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
    }
    .discoverSectionLeftTop{
        top: 0;
    }
    .discoverSectionRightTop{
        top: 50%;
    }
    .discoverSectionLeftBottom{
        bottom: 50%;
    }
    .discoverSectionRightBottom{
        bottom: 0;
    }
    .discoverImage{
	width: 25%;
    }
}
@media (max-width: 480px) {
    .textWBG{
	font-size: 18px;
	padding: 10px 10px;
    }
    .discoverImage{
	width: 60%;
    }
    .discoverSectionRightTop .discoverImage{
	width: 60%;
    }
}
