.header{
    min-width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    flex-direction: row;
    position: fixed;
    top: 10px;
    background-color: #232425;
    border-radius: 10px;
    z-index: 1000;
    -webkit-box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 1);
}
.headerLight{
    background-color: #F1F1F1;
}
.div{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.logo{
    margin-left: 10px;
    width: 40%;
}
.rightDiv{
    justify-content: flex-end;
    margin-left: 20px;
}
.navLinks{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: 20px;
}
.Register{
    width: fit-content;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Register:hover{
    transform: scale(1.05);
}
.RegisterDark{
    background-color: #0D442F;
    color: #FFF;
}
.RegisterDark:hover{
    background-color: #0B3A27;
}
.RegisterLight{
    background-color: #8250E5;
    color: #FFF;
}
.RegisterLight:Hover{
    background-color: #6B3FCC;
}
.Login{
    width: fit-content;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;

    transition: ease-in-out 0.3s;
    text-decoration: none;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Login:hover{
    transform: scale(1.05);
}
.LoginDark{    
    background-color: rgba(46,116,255,0.61);
    color: #FFF;
}
.LoginDark:hover{
    background-color: #19232E;
}
.LoginLight{
    background-color: #4E1BB4;
    color: #FFF;
}
.LoginLight:hover{
    background-color: #3E1490;
}
.links{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.3s ease;
    background-color: transparent;
}
.links:hover{
    transform: scale(1.2);
}
.linksLight{
    color: #000;
}
.linksDark{
    color: #FFF;
}
