.header{
    min-width: 50%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    flex-direction: row;
    position: fixed;
    top: 10px;
    background-color: #232425;
    border-radius: 10px;
    z-index: 1000;
    -webkit-box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 1);
}
.headerLight{
    background-color: #F1F1F1;
}
.div{
    min-width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.logo{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    transition: ease-in-out 0.3s;
}
.logo:hover{
    transform: scale(0.9);
}
.rightDiv{
    justify-content: flex-end;
    margin-left: 20px;
}
.navLinks{
    min-width: 60%;
    max-width: 70%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 50px;
    overflow: hidden;
}
.Register{
    width: fit-content;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Register:hover{
    transform: scale(0.95);
}
.RegisterDark{
    background-color: #0D442F;
    color: #FFF;
}
.RegisterDark:hover{
    background-color: #0B3A27;
}
.RegisterLight{
    background-color: #8250E5;
    color: #FFF;
}
.RegisterLight:Hover{
    background-color: #6B3FCC;
}
.Login{
    width: fit-content;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;

    transition: ease-in-out 0.3s;
    text-decoration: none;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Login:hover{
    transform: scale(0.95);
}
.LoginDark{    
    background-color: rgba(46,116,255,0.61);
    color: #FFF;
}
.LoginDark:hover{
    background-color: #19232E;
}
.LoginLight{
    background-color: #4E1BB4;
    color: #FFF;
}
.LoginLight:hover{
    background-color: #3E1490;
}
.links{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.3s ease;
    background-color: transparent;
}
.links:hover{
    transform: scale(0.8);
}
.linksLight{
    color: #000;
}
.linksDark{
    color: #FFF;
}
/* Mobile Styles */

.headerM{
    width: 90%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #232425;
    padding: 10px 20px;
    flex-direction: column;
    position: fixed;
    top: 10px;
    border-radius: 10px;
    z-index: 1000;
    -webkit-box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}

.navOverlay{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.burger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
    cursor: pointer;
    padding: 10px;
}
.navLinksM{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
}
.buttonsBurgerM{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.headerLightM{
    background-color: #F1F1F1;
}


/* *** Header for App Page *** */


.headerApp{
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232425;
    padding: 10px 20px;
    flex-direction: row;
    position: fixed;
    top: 0;
    border-radius: 10px;
    z-index: 1000;
}
.headerAppLight{
    background-color: #f1f1f1; 
}
.avatarApp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    background-color: #1Af;
    margin-left: 10px;
}
.avatarApp:hover{
    transform: scale(0.9);
}
.buttonApp{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.buttonAppActive{
    transform: rotate(90deg) !important;
}
.buttonApp:hover{
    transform: scale(0.9);
}
.settingsIcon{
    width: 40px;
    height: 40px;
    transition: ease-in-out 0.3s;
}
.settingsMenu{
    position: fixed;
    top: 70px;
    right: 20px;
    width: 150px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #f1f1f1;
    z-index: 9999;
}
.settingsMenu button{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #f1f1f1;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.settingsButtonLight{
    color: #000 !important;
    border-bottom: 1px solid #000 !important;
}
.settingsMenu button:hover{
    background-color: #555;
}
.settingsButtonLight:hover{
    background-color: #DDD !important;
}
.settingsButtonLast{
    border-radius: 0 0 10px 10px !important;
}
.placeholderForCloseSettings{
    width: 100svw;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
}
