.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    flex-direction: row;
    position: absolute;
    top: 0;
}
.div{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.rightDiv{
    justify-content: flex-end;
}
.navLinks{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.Register{
    width: fit-content;
    padding: 8px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Register:hover{
    transform: scale(1.05);
}
.RegisterDark{
    background-color: #0D442F;
    color: #FFF;
}
.RegisterDark:hover{
    background-color: #0B3A27;
}
.RegisterLight{
    background-color: #8250E5;
    color: #FFF;
}
.RegisterLight:Hover{
    background-color: #6B3FCC;
}
.Login{
    width: fit-content;
    padding: 8px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;

    transition: ease-in-out 0.3s;
    text-decoration: none;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Login:hover{
    transform: scale(1.05);
}
.LoginDark{    
    background-color: #213043;
    color: #FFF;
}
.LoginDark:hover{
    background-color: #19232E;
}
.LoginLight{
    background-color: #4E1BB4;
    color: #FFF;
}
.LoginLight:hover{
    background-color: #3E1490;
}
