.container{
    width: 100svw;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 100px;
} 

.content{
    width: 100%;
    height: 80vsh;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    grid-template-areas: 
	"today last_workout last_workout streak"
	"data motto stats stats"
	"limit_cal food stats stats"
	;
}
.gridItem{
    width: 100%;
    height: 100%;
    background-color: #0D442F;
    border-radius: 30px;
    color: #f1f1f1;
}

@media (max-width: 768px){
    .container{
	padding-bottom: 50px;
    }
    .content{
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, minmax(150px, 1fr));
	grid-template-areas:
	    "today today"
	    "motto streak"
	    "data last_workout"
	    "stats stats"
	    "stats stats"
	    "limit_cal food";
    }
    
}
