.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
} 

.content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    min-height: 80%;
}

