.Pricing{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 50px;
    flex-direction: column;
}
.title{
    font-size: 42px;
    font-weight: 700;
    position: absolute;
    top: 5%;
    left: 5%;
}

.note{
    font-size: 18px;
    width: 900px;
    padding-top: 50px;
}
