.Pricing{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 50px;
    flex-direction: column;
    padding: 6rem 4vw;
}
.title{
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    align-self: flex-start;
    padding-left: 5vw;
}

.note{
    font-size: 18px;
    width: 900px;
    padding-top: 50px;
}
@media (max-width: 768px) {
    .Pricing{
        height: auto;
        gap: 30px;
        padding: 160px 0;
        padding-bottom: 50px;
    }
    .title{
        position: static;
        text-align: center;
    }
    .note{
    	width: 90%;
    	font-size: 16px;
    	text-align: center;
    	padding-top: 20px;
    }
}

