.container{
    width: 100svw;
    min-height: 100svh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.header{
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.addWorkoutBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #4E1BB4;
    color: #f1f1f1;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.addWorkoutBtn:hover{
    background-color: #3E1490;
}
.addWorkoutBtnLight{
    background-color: #a9dc94;
    color: #000;
}
.addWorkoutBtnLight:hover{
    background-color: #88c06a;
}
.content{
    width: 100%;
    min-height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
    padding: 16px;
}
.item{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    color: #f1f1f1;
    -webkit-box-shadow: 0px 10px 6px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 10px 6px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 10px 6px -1px rgba(0, 0, 0, 1);
}
.item *{
    overflow: hidden;
}
