.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.navLink{
    text-decoration: none;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 30px;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.navLink:hover{
    transform: scale(1.05);
}
.navLinkActiveDark{
    background-color: #0D442F !important;
    transform: scale(1.05);
    color: #fff;
}
.navLinkActiveLight{
    background-color: #4E1BB4 !important;
    transform: scale(1.05);
    color: #fff;
}
.navLinkActiveLight .navImg{
    filter: invert(1);
}
.navImg{
    width: 25px;
    height: 25px;
}



.navMobile{
    width: 100vw;
    height: 40px;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    background-color: #232425;
    bottom: 0;
    left:0;
    padding: 20px 20px;
}
.buttonApp{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.buttonAppActive{
    transform: rotate(90deg) !important;
}
.buttonApp:hover{
    transform: scale(0.9);
}
.settingsIcon{
    width: 25px;
    height: 25px;
}
.settingsMenu{
    position: absolute;
    bottom: 70px;
    left: 5%;
    width: 90%;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    border: 1px solid #f1f1f1;
    gap: 20px;
    padding: 10px;
}
