.link{
    text-decoration: none;
    transition: ease-in-out 300ms;
    background-color: transparent;
}
.link:hover{
    transform: scale(1.05);
}
.navLink{
    text-decoration: none;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
}
.navLink:hover{
    transform: scale(1.05);
}
