.container{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    cursor: pointer;
    transition: ease-in-out 0.3s;
    left: 20px;
    top: 20px;
    position: absolute;
}
.logo:hover{
    transform: scale(1.1);
}
.buttonTheme{
    position: absolute;
    right: 20px;
    top: 20px;
}
